  <div
    class="text-white body-font fixed top-0 bg-gradient-to-b from-black w-full z-50"
  >
    <div class="px-16 flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div
        class="flex title-font font-medium items-center text-white mb-4 md:mb-0 ml-auto"
      >

        <div class="ctd">
          <div class="magic-name">
            <div class="magic" style="--color: #23b1d8" data-text="C">
              <span>C</span>
            </div>

            <div class="magic" style="--color: #b733f9" data-text="t">
              <span>t</span>
            </div>
            <div class="magic" style="--color: #a0de59" data-text="D">
              <span>D</span>
            </div>
          </div>
        </div>
        <div class="robot-loker">
          <img
            src="assets\icos\robotPurple2-removebg.png"
            alt="robot"
            class="robot-float"
            id=""
          />
        </div>
      </div>
    </div>
  </div>
