<app-title title="Recursos" />
<div id="" class="menu-recursos bg-white/10 col-span-9 rounded-lg p-6">
  <div id="24h">
    <h1 class="font-bold py-4 uppercase">
      Los principales recursos he usado para mi curso
    </h1>
    <div
      id="stats"
      class="grid gird-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      @for (item of allRecursos.recursos; track $index) {

      <div
        class="box-recursos bg-black/60 to-white/5 p-5 rounded-lg cursor-pointer"
      >
        <div class="flex flex-row space-x-4 items-center">
          <div class="" >
            <i class="ico-recursos text-teal-300 {{ item.ico }}" style="font-size: 2rem;"></i>
          </div>
          <div>
            <p class="text-indigo-300 text-sm font-medium uppercase leading-4">
              {{ item.title }}
            </p>

            <a class="btn-recursos text-white font-bold text-xl inline-flex items-center space-x-2" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
              <span class="text">Ver recurso</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
                  </svg>

            </span>
            </a>
          </div>
        </div>
      </div>

      }
        <div class="bg-black/60 p-6 rounded-lg">
              <div class="flex flex-row space-x-4 items-center">
                  <div id="stats-1">
                     <!--  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg> -->

                  </div>
                  <div>
                      <p class="text-teal-300 text-sm font-medium uppercase leading-4">Income</p>
                      <p class="text-white font-bold text-2xl inline-flex items-center space-x-2">
                          <span>$2,873.88</span>
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
                                </svg>

                          </span>
                      </p>
                  </div>
              </div>
          </div>

    </div>
  </div>
</div>
