
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$color-rosa: #ff4081;
$color-violeta: #8a2be2;
$color-ico-btn: #4fd1c5;
$bg-target: #2f2a2a99;

/* Variables para title */

$border-color: #333;
$background-color: #1a1a1a;
$text-color: #0f0;
$header-bg-color: #333;
$control-bg-color: #777;
$close-bg-color: #e33;
$minimize-bg-color: #ee0;
$maximize-bg-color: #0b0;
$cursor-color: green;

body {
  background-color: black;
}

.img-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-left: 6.5%;
}
.menu-recursos {
  .recusos-llaveIn {
    color: $color-ico-btn;
  }
}
.menu-proyectos-bg {
  .fa-music {
    color: $color-ico-btn;
  }
}

.udemy {
  width: 50px;
}
.ico-a {
  &:hover {
    text-decoration: none;
    text-transform: uppercase;

    .ico {
      color: $color-violeta;
      transform: scale(1.5);
      fill: url(#gradient);
    }
  }
}

.btn-recursos {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  border-radius: 5px;
  color: $color-rosa;
  font-size: 12px;
  line-height: 5px;
  margin-top: 9px;
  padding: 17px 17px 17px;
  text-decoration: none;
  cursor: pointer;
  background: $bg-target;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }

  span:last-child {
    color: $color-ico-btn;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }

  &:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }

  &:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  }
  90%,
  100% {
    width: 0;
  }
}

.title-loader {
  border: 0.1em solid $border-color;
  background-color: $background-color;
  color: $text-color;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1em 1em;
  width: 20em;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: $header-bg-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }

  .terminal-controls {
    margin-left: 45%;
  }

  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: $control-bg-color;
  }

  .control.close {
    background-color: $close-bg-color;
  }

  .control.minimize {
    background-color: $minimize-bg-color;
  }

  .control.maximize {
    background-color: $maximize-bg-color;
  }

  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }

  .text-loading {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid $cursor-color; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }
}

.dashboard-container {
  @media only screen and (max-width: 769px) {
    justify-content: center;
    .proyecto-w {
      width: inherit;
    }
    .grid {
      grid-template-columns: 1fr;
    }

    #menu-dash {
      margin-left: 12%;
      grid-column: span 12;
    }

    .menu-recursos {
      grid-column: span 12;
      .bg-black\/60 {
        margin-left: -15px;
      }
    }

    #content-dash {
      grid-column: span 12;
    }

    .title-loader {
      grid-column: span 12;
      width: 13em;
    }

    .menu-proyectos-bg {
      grid-column: span 12;
      .proyecto-grid {
        justify-content: center;
      }
    }
  }
}
.dashboard-container {
  @media only screen and (max-width: 769px) {
    #menu-dash {
      margin-left: 0;
      grid-column: span 12;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .stats {
      justify-content: center;
      width: 45%;
      margin-left: 25%;
      .recursos-relleno {
        justify-content: center;
      }
    }
  }
}
