/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$color-rosa: #ff4081;
$color-violeta: #8a2be2;
body{
  background-color: black;
}

.img-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-left: 6.5%;
}

.ico-a {
  &:hover {
    text-decoration: none;
    text-transform: uppercase;

    .ico {
      color: $color-rosa;
      transform: scale(1.5); // Escala al 110% al pasar el ratón
      fill: url(#gradient); // Aplica el gradiente al pasar el ratón
    }
  }
}

.cvw-banner {
  margin-top: -79%;
}

.antialiased {


  @media only screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr; // Cambiar a una sola columna en dispositivos más pequeños
    }
    .cvw-banner{
      margin-top: -180%;
    }
    #menu {
      margin-left: 12%;
      col-span: 12; // Ocupar toda la anchura en dispositivos más pequeños
    }

    #content {
      col-span: 12; // Ocupar toda la anchura en dispositivos más pequeños
    }
  }
}
