<footer class="footer bg-gradient-to-r to-gray-400 mt-7" id="footer-media">
  <div
    class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-3"
  >
    <!-- Columna 1 -->
    <div>
      <p class="font-medium text-orange-400">Links</p>
      <nav
        class="footer-text flex flex-col mt-4 space-y-2 text-sm text-gray-500"
      >
        <a class="hover:opacity-75" href="/dashboard/cvweb">CVweb-CinTutuDev</a>
        <a class="hover:opacity-75" href="/dashboard/recursos">Recursos</a>
        <a class="hover:opacity-75" href="/dashboard/proyectos"
          >Proyectos del curso</a
        >
        <a class="hover:opacity-75" href="/dashboard/repositorios"
          >Repos Importantes</a
        >
      </nav>
    </div>

    <!-- Columna 2 -->
    <div>
      <p class="font-medium text-orange-400">Contacto</p>
      <nav class="footer-text flex flex-col mt-4 space-y-2 text-sm">
        <p class="transition-colors duration-300">
          <i
            class="recusos-llaveIn fa fa-envelope"
            data-aos="zoom-out"
            data-aos-duration="3000"
          ></i>
          <a href="mailto:cintatafur@gmail.com"> cintatafur&#64;gmail.com</a>
        </p>
        <p class="transition-colors duration-300">
          <i
            class="recusos-llaveIn fa-solid fa-street-view"
            data-aos="zoom-out"
            data-aos-duration="3000"
          ></i>
          <a href="https://www.google.com/maps?q=Vigo,+Galicia" target="_blank">
            Galicia, Vigo</a
          >
        </p>
        <p class="transition-colors duration-300">
          <i
            class="recusos-llaveIn fa-solid fa-phone"
            data-aos="zoom-out"
            data-aos-duration="3000"
          ></i>
          <a href="tel:+123456789"> Teléfono: 665 828 070</a>
        </p>
      </nav>
    </div>

    <!-- Columna 3 -->
    <div class="">
      <p class="font-medium text-orange-400">Logo</p>
      <div class="flex flex-col items-start mt-5 space-y-2">
        <img
          src="assets\icos\robotPurple.png"
          class="icoRobot mr-5 h-8 sm:h-12"
          alt="logo"
        />
        <p class="max-w-xs mt-4 text-sm text-gray-600"></p>
      </div>
    </div>
  </div>
  <hr class="my-6 border-purple-500 md:my-8 dark:border-purple-700 h-2" />
  <!-- Columna 4 -->
  <div>
    <p
      class="footer-free font-sans p-5 text-start md:text-center md:text-lg md:p-0 hover:opacity-15"
    >
      <a
        href="https://github.com/CinTutuDev/ProyectoFinalAngular"
        target="_blank"
      >
        2023 Free Software, Hell Yeah!🤘
      </a>
    </p>
  </div>
</footer>
